<p-toast></p-toast>
<app-loading *ngIf="loading"></app-loading>
   <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Tổng doanh thu</span>
                        <div class="text-900 font-medium text-xl">{{totalRevenueToday  | number:'1.0-0'}} VND</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">24 new </span> -->
                <span class="text-500">hôm nay</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Đã hoàn thành</span>
                        <div class="text-900 font-medium text-xl">{{totalOrderDoneToday}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">%52+ </span> -->
                <span class="text-500">đơn hàng</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Đang chuẩn bị</span>
                        <div class="text-900 font-medium text-xl">{{totalOrderPreparingToday}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">520  </span> -->
                <span class="text-500">đơn hàng</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Chưa xác nhận</span>
                        <div class="text-900 font-medium text-xl">{{totalOrderUnconfirmToday}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">85 </span> -->
                <span class="text-500">đơn hàng</span>
            </div>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Doanh số 7 ngày</h5>
                <p-chart type="line" [data]="chartDay" [options]="chartOptions"></p-chart>
            </div>
        </div>    
        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Doanh số 12 tháng</h5>
                <p-chart type="line" [data]="chartMonth" [options]="chartOptions"></p-chart>
            </div>
        </div>    


         
</div>

